.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.form {
  padding: 32px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
}

.title {
  color: var(--primary-green);
  font-size: 28px;
  margin-top: 0;
  text-align: center;
}

.error {
  color: red;
  margin-bottom: 16px;
}